<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}Mon Site{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ path('product_index') }}">Mon Site</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('product_index') }}">{{ 'accueil'|trans }}</a></li>
						<li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('api_products') }}">API</a></li>
                    </ul>
					<a class="btn btn-outline-dark mt-auto" href="{{ path('cart_index') }}">
						{{ 'panier'|trans }}
						<span class="badge bg-dark text-white ms-1 rounded-pill">{{ length }}</span>
					</a>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
		<footer class="py-5 bg-dark">
        </footer>
    </body>
</html>
